<h1>Listing users</h1>

<table>
  <tr>
    <th>Users</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to "#{user.name}", user_path(user.id) %></td>
    </tr>
  <% end %>
</table>
