<h1>What's Quack'n<h1>
<%= @title %>


<ul>
  <% @messages.reverse_each do |message| %>


    <div class="space_div">
    <h3><%= link_to message.user.name, user_path(message.user)  %></h3>

    <li><%= message.subject %></li>
    <li class = 'content'><%= message.content %></li>
    <li>---------------------------------------------------------------------------------</li>
    </div>
  <%end%>
</ul>


<!--   <form method="post" action="/contact">
    <fieldset class="col-sm-6">
      <div class="form-group">
        <label for="message">Search: </label>
        <textarea id="message" name="message" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Send message" class="btn btn-info btn-sm">
      </div>
    </fieldset>
  </form>
 -->
